body{
background-color:#11100e;
}
img.logo {
display: block;
margin-left: auto;
margin-right: auto;
margin-top:100px;
width: 50%;
}
*{
text-decoration:none;
font-style: none;
text-decoration-style: none;
}
button.my_projict{
display: block;
margin-left: auto;
margin-right: auto;
width: 20%;
height: 26px;
border-radius: 7px;
background-color:#ffe865;
color: rgb(0, 0, 0);
font-family: 'Cairo', sans-serif;
font-weight: bold;
}
:hover:active button{
background-color:#11100e;

}
